.chat-container {
    position: relative; 
    width: 60%;
    margin: 0 auto;
    height: 859px; 
    font-family: Arial, sans-serif;
    overflow: auto;
  }
  
  .chat-title {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    text-decoration: underline;
  }
  
  .chat-form {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .chat-input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .chat-button {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  .chat-button:hover {
    background-color: #0056b3;
  }
  
  .chat-message {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    max-width: 60%;
  }

  .chat-message.me {
    background-color: rgb(94, 94, 255);
    color: white;
    text-align: right;
    align-self: flex-end;
  }
  
  .chat-message.them {
    background-color: rgb(192, 190, 190);
    color: black;
    text-align: left;
    align-self: flex-start;
  }
  
  .app-container {
    display: flex; 
  }

  .messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
